.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mt-1 {
  margin: 1rem auto;
}

.p-1 {
  margin: 1rem;
}

.py-1 {
  margin: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mt-2 {
  margin: 2rem auto;
}

.p-2 {
  margin: 2rem;
}

.py-2 {
  margin: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mt-3 {
  margin: 3rem auto;
}

.p-3 {
  margin: 3rem;
}

.py-3 {
  margin: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mt-4 {
  margin: 4rem auto;
}

.p-4 {
  margin: 4rem;
}

.py-4 {
  margin: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mt-5 {
  margin: 5rem auto;
}

.p-5 {
  margin: 5rem;
}

.py-5 {
  margin: 5rem 0;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.9rem;
  border: none;
  border-radius: 7px;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.96);
}

.btn-primary {
  background-color: #0055da;
  color: #fff;
}

.btn-secondary {
  background-color: #ff8700;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .showcase-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .showcase-content img {
    margin: 0 auto;
    width: 100%;
  }
  .showcase-content div {
    text-align: center;
  }
  .showcase-content .btn-primary, .showcase-content .btn-secondary {
    display: block;
    width: 50%;
    margin: 1rem auto;
  }

  nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav .button {
    font-size: 40px;
  }
  nav .list {
    margin-top: 0.9rem;
    width: 100%;
  }
  nav .list li {
    display: block;
    border-top: 1px solid #ccc;
  }

  .collapsible .collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
  }
  .collapsible .collapsible--expanded .collapsible__content {
    max-height: 100vh;
  }
}
@media screen and (min-width: 701px) {
  .button {
    display: none;
  }
}
.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

* {
  box-sizing: border-box;
  margin: 2rem;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
nav img {
  width: 40px;
  height: 40px;
}
nav ul {
  list-style: none;
}
nav ul li {
  padding: 0.8rem;
  font-size: larger;
}
nav ul li a {
  opacity: 0.7;
}
nav ul li a:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.showcase {
  background-color: #0e6cff;
  color: #fff;
  height: 100vh;
}

.showcase-content {
  display: flex;
}
.showcase-content img {
  width: 50%;
}

.register {
  background-color: #0e6cff;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.container-register {
  color: #f4f4f4;
  display: flex;
  height: 40rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
.container-register .introduction {
  width: 50%;
}
.container-register .fillOut {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: #f4f4f4;
  border-radius: 9px;
}
.container-register .fillOut h2 {
  color: black;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-register .fillOut label {
  display: inline;
}
.container-register .fillOut input {
  display: block;
  width: 69%;
  margin: 0 auto;
  padding: 0.9rem;
  border-style: none;
  border-bottom: 1px solid #ccc;
  border-radius: 9px;
}
.container-register .fillOut input:focus {
  outline: none;
}
.container-register .fillOut a {
  width: 10rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.deployments {
  height: 100vh;
  color: #656565;
}
.deployments h2 {
  text-align: center;
}
.deployments .header-1 {
  width: 50rem;
}
.deployments .features {
  display: flex;
  justify-content: space-around;
}
.deployments .features .feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.deployments .features .feature i {
  font-size: 8rem;
  color: black;
}
.deployments .features .feature .text {
  color: #0041a7;
  text-decoration: underline;
}
.deployments .samples {
  display: flex;
  height: 20rem;
  gap: 2rem;
}
.deployments .samples img {
  width: 100%;
  border-radius: 10px;
}
.deployments .samples .sample {
  width: 70%;
}
.deployments .samples .sample1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.deployments .samples .sample1 .slogan {
  border: 1 px solid #ccc;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 9px;
}

.footer-area {
  height: 100vh;
}
.footer-area .heading {
  background-color: #0e6cff;
  display: flex;
  gap: 2rem;
  text-align: center;
}
.footer-area .heading img {
  width: 90%;
}
.footer-area .heading .heading-1 {
  width: 50%;
  margin: auto;
  color: #f4f4f4;
  font-size: 1.2rem;
}
.footer-area .heading .heading-1 a {
  display: block;
  width: 10rem;
  margin: 0 auto;
}
.footer-area .heading .logo-1 {
  width: 50%;
  color: #fff;
}
.footer-area .footer-title {
  text-align: center;
  font-size: 2;
}
.footer-area .languages {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 3rem;
}
.footer-area .languages img {
  width: 9rem;
  height: 9rem;
  margin-bottom: 0.5rem;
}
.footer-area .languages .language {
  width: 11rem;
  height: max-content;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.footer-area .languages .language h3 {
  color: rgb(132, 129, 129);
  margin: 1rem;
}
.footer-area .languages .language:hover {
  transform: scale(1.2);
}
.footer-area .footer-info {
  display: flex;
  color: #f4f4f4;
  background-color: #002560;
  justify-content: space-between;
  height: 10rem;
  font-size: 2rem;
}
.footer-area .footer-info .info-toggler {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-area .footer-info .info-toggler:hover {
  margin-top: 0;
  transition: 1.2s;
}
.footer-area .footer-info .info-toggler .arrow-link {
  text-transform: uppercase;
  display: block;
}
.footer-area .footer-info .info-toggler i {
  display: block;
  margin: 0 auto;
}
.footer-area .info-social-pages {
  display: flex;
  gap: 1rem;
}

/*# sourceMappingURL=stlye.css.map */
