@import "components/config";
@import "components/buttons";
@import "components/mobile";
@import "components/utilities";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html {
    font-size: 62.5%;
  }
body{
background-color: $light-color;
font-family: $font-stack;
}


a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

p{
    font-size: 1.2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 5rem;
    img{
        width: 40px;
        height: 40px;
    }
    
ul{
    list-style: none;
    li{
        display: inline;
        padding: 0.8rem;
        font-size: 2rem;
      
        a{

            opacity: 0.7;
            &:hover{

                 transition: 0.3s ease-in;
                 transform: scale(1.2);
                opacity: 1;
            }

        }
    }
    
}
}
.showcase{
 @include set-background($primary-color);
    height: 100vh;
}


.showcase-content{
    display: flex;
 

    img{
        width:50%;
       
    }
}

//*******Register Info section


.register{
    background-color: $primary-color;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.container-register{

    color:$light-color;
    display:flex;
    height:40rem;
gap:2rem;
margin-bottom: 5rem;;

.introduction{
    width: 50%;
}
.fillOut{
  display: flex;
  flex-direction: column;

 width:40rem;
  background-color:$light-color;
  border-radius: 9px;

  h2{
      color:black;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
  }
label{

    display:inline;
}

  input{
      display: block;
      width: 69%;
    margin:0 auto;
   padding:0.9rem;
    border-style: none;
    border-bottom: 1px solid #ccc;
    border-radius: 9px;
    
    &:focus{
        outline: none;
    }
  }
  a{
     width: 10rem;
    display: block;
    text-align: center;
    margin:0 auto;
    font-size: 1.2rem;
     
  }
}

}


//****Deployment

.deployments{
    height: 62vh;
    color:$third-color;

    h2{
        text-align: center;
    }
    .header-1{
        width: 50rem;
    }
    .features{
        display:flex;
        justify-content: space-around;
        
        
        
        .feature{
            display: flex;
            flex-direction: column;
            text-align: center;
            
        
            i{
               font-size: 8rem;
               color:black
              
            }
            .text{
                color:darken($primary-color, 20%);
                text-decoration: underline;
            }
        
        }
    }

    .samples{
        
        display:flex;
        height: 20rem;
        gap:2rem;

        img{
           width: 100%;
           border-radius: 10px;
        }
        .sample{
            width: 70%;

         
            
        }
        .sample1{
            width: 30%;
            display: flex;
            flex-direction: column;
            .slogan{
               
              
                border:1 px solid #ccc;
                padding:3rem;
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border-radius: 9px;

            }
        }
    }
}


//****foooter


.footer-area{
    height: 70vh;
    
    .wrapper{
        @include set-background($primary-color);
        
    }
    .heading{
        display: flex;
    
        text-align: center;


    img{
        width: 75%;
    

    }
    .heading-1{
        width: 50%;
        margin:auto;
        color:$light-color;
        font-size: 1.2rem;
        a{
          display: block;  
          width:10rem;
           margin:0 auto;
       
        }
        
    }
    .logo-1{
        width: 50%;
        color:#fff
    }



}
.footer-title{
 text-align: center;
 font-size: 2;
}



   .languages{
       display: flex;
       flex-wrap: wrap;
       text-align: center;
       justify-content: space-around;
       gap: 2rem;
       padding: 3rem;
    
    img{
    width:9rem;
    height:9rem;
    margin-bottom: 0.5rem;
    }
    .language{
        width: 11rem;
        height:max-content;
        border-radius: 10px;
        background-color: #fff;
        box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        ;
        h3{
            color: rgb(132, 129, 129);
            margin:1rem;
            
        }
        
    &:hover{
       transform: scale(1.2);
    }
    }
 
   } 

   .wrapper-info
   {
       background-color:darken($primary-color, 34%);

   }
   .footer-info{
       display: flex;
       color:$light-color;
       justify-content:space-between;
       height: 10rem;
       font-size: 2rem;

 .info-toggler{    
     margin-top: 2rem;
     display: flex;
     flex-direction: column; 
  
     &:hover{
         margin-top:0;
         transition: 1.2s ;
     } 
     
    .arrow-link{
        
           text-transform: uppercase;
           display: block;
          
       }
       i{
        display: block;
        margin:0 auto;
    }}

   }

   .info-social-pages{
       display: flex;
       gap:1rem;
   }

}