@import "components/config";
@import "components/buttons";
@import "components/mobile";
@import "components/utilities";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html {
    font-size: 62.5%;
  }
body{
background-color: $light-color;
font-family: $font-stack;
}


a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

p{
    font-size: 1.2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 5rem;
    img{
        width: 40px;
        height: 40px;
    }
    
ul{
    list-style: none;
    li{
        display: inline;
        padding: 0.8rem;
      
        a{

            opacity: 0.7;
            &:hover{

                 transition: 0.3s ease-in-out;
                opacity: 1;
            }

        }
    }
    
}
}
.showcase{
 @include set-background($primary-color);
    height: 100vh;
}


.showcase-content{
    display: flex;
 

    img{
        width:50%;
       
    }
}

//*******Register Info section


.register{
    background-color: $primary-color;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.container-register{

    color:$light-color;
    display:flex;
    height:40rem;
gap:2rem;
margin-bottom: 5rem;;

.introduction{
    width: 50%;
}
.fillOut{
  display: flex;
  flex-direction: column;

 width:40rem;
  background-color:$light-color;
  border-radius: 9px;

  h2{
      color:black;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
  }
label{

    display:inline;
}

  input{
      display: block;
      width: 69%;
    margin:0 auto;
   padding:0.9rem;
    border-style: none;
    border-bottom: 1px solid #ccc;
    border-radius: 9px;
    
    &:focus{
        outline: none;
    }
  }
  a{
     width: 10rem;
    display: block;
    text-align: center;
    margin:0 auto;
    font-size: 1.2rem;
     
  }
}

}


//****Deployment

.deployments{
    height: 100vh;
    color:$third-color;

    h2{
        text-align: center;
    }
    .header-1{
        width: 50rem;
    }
    .features{
        display:flex;
        justify-content: space-around;
        
        
        
        .feature{
            display: flex;
            flex-direction: column;
            text-align: center;
            
        
            i{
               font-size: 8rem;
               color:black
              
            }
            .text{
                color:darken($primary-color, 20%);
                text-decoration: underline;
            }
        
        }
    }

    .samples{
        
        display:flex;
        height: 20rem;
        gap:2rem;

        img{
           width: 100%;
           border-radius: 10px;
        }
        .sample{
            width: 70%;

         
            
        }
        .sample1{
            width: 30%;
            display: flex;
            flex-direction: column;
            .slogan{
               
              
                border:1 px solid #ccc;
                padding:3rem;
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border-radius: 9px;

            }
        }
    }
}
