@import "components/config";
@import "components/buttons";
@import "components/mobile";
@import "components/utilities";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
  }
body{
background-color: $light-color;
font-family: $font-stack;
}


a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 5rem;
    img{
        width: 40px;
        height: 40px;
    }
    
ul{
    list-style: none;
    li{
        display: inline;
        padding: 0.8rem;
      
        a{

            opacity: 0.7;
            &:hover{

                 transition: 0.3s ease-in-out;
                opacity: 1;
            }

        }
    }
    
}
}
.showcase{
 @include set-background($primary-color);
    max-height: 100vh;
}


.showcase-content{
    display: flex;
  height: 100&;


    img{
        width:50%;
       
    }
}

//*******Register Info section


.register{
    background-color: $primary-color;
    
}
.container-register{
padding-top: 8rem;
color:$light-color;
height: 100vh;
display:flex;
gap:2rem;
margin-bottom: 5rem;;

.introduction{
    width: 50%;
}
.fillOut{
  display: flex;
  flex-direction: column;  
 width:40rem;
  height:fit-content;
  background-color:$light-color;
  border-radius: 9px;

label{

    display:inline;
}

  input{
      display: block;
      width: 69%;
    margin:0 auto;
   padding:0.9rem;
    border-style: none;
    border-bottom: 1px solid #ccc;
    border-radius: 9px;
    
    &:focus{
        outline: none;
    }
  }
  a{
     width: 10rem;
    display: block;
    text-align: center;
    margin:0 auto;
     
  }
}

}


