@media  screen and(max-width:700px){
 
    .showcase{
 
        //!showcase-content &-content şeklinde de yazılabiliyor
        &-content{
        display: flex;
        flex-direction: column-reverse;
        
        img{
            margin:0 auto;
            width:100%;
        }

        div{
            text-align: center;
        }
        %btn{
      
            display: block;
            width: 50%;
            margin: 1rem auto;
            
        }

        }
    }

    nav{
        flex-wrap: wrap;
       justify-content: space-between;
        .button {
        font-size: 40px;
          }

        .list {
            margin-top: 0.9rem;
            width: 100%;
            li{
                display: block;
                border-top: 1px solid #ccc;
            
            }

        }

    }
    
    .collapsible{
        
        .collapsible__content{
            max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s;
            
        }
        .collapsible--expanded .collapsible__content{   
            max-height: 100vh;

         
        }

    }
 
}

@media screen and (min-width:701px) {
    .button{
        display:none
    }
    
}